@import 'tailwindcss';
/* @plugin 'daisyui'; */

:root {
  --sone-index-good: oklch(0.74 0.1701 153.32);
  --sone-index-fair: oklch(0.79 0.1572 64.15);
  --sone-index-poor: oklch(0.67 0.2106 24.78);

  --sone-spacing-4xs: 2px;
  --sone-spacing-3xs: 4px;
  --sone-spacing-2xs: 8px;
  --sone-spacing-xs: 12px;
  --sone-spacing-sm: 12px;
  --sone-spacing-ms: 16px;
  --sone-spacing-md: 20px;
  --sone-spacing-ml: 24px;
  --sone-spacing-lg: 32px;
  --sone-spacing-xl: 40px;
  --sone-spacing-2xl: 48px;
  --sone-spacing-3xl: 64px;
  --sone-spacing-4xl: 80px;
  --sone-spacing-page-without-nav: 24px;
  --sone-spacing-page-with-nav: 16px;

  --sone-input-radius-xs: 8px;
  --sone-input-radius-sm: 8px;
  --sone-input-radius-md: 10px;

  --sone-card-radius-sm: 12px;
  --sone-card-radius-md: 16px;
  --sone-card-radius-lg: 20px;

  --sone-typography-button-2xs: 12px;
  --sone-typography-button-xs: 14px;
  --sone-typography-button-sm: 16px;
  --sone-typography-button-md: 16px;
}

/* 넓이가 1200px 이상일 때 */
@media (min-width: 1200px) {
  :root {
    --sone-spacing-4xs: 2px;
    --sone-spacing-3xs: 4px;
    --sone-spacing-2xs: 8px;
    --sone-spacing-xs: 12px;
    --sone-spacing-sm: 16px;
    --sone-spacing-ms: 20px;
    --sone-spacing-md: 24px;
    --sone-spacing-ml: 32px;
    --sone-spacing-lg: 40px;
    --sone-spacing-xl: 48px;
    --sone-spacing-2xl: 64px;
    --sone-spacing-3xl: 80px;
    --sone-spacing-4xl: 96px;
    --sone-spacing-page-without-nav: 120px;
    --sone-spacing-page-with-nav: 64px;
  }
}

/* Light 테마 */
[data-theme='switchui-light'] {
  --sone-background: oklch(1 0 0);
  --sone-consistent-white: oklch(1 0 0);
  --sone-focus-ring: oklch(0.26 0.0343 264.71);

  --sone-gray-0: oklch(0.98 0.0017 247.84);
  --sone-gray-100: oklch(0.96 0.0029 264.54);
  --sone-gray-200: oklch(0.94 0.0046 258.33);
  --sone-gray-300: oklch(0.87 0.0095 242.85);
  --sone-gray-400: oklch(0.83 0.009 264.52);
  --sone-gray-500: oklch(0.77 0.0134 244.31);
  --sone-gray-600: oklch(0.54 0.0244 252.64);
  --sone-gray-700: oklch(0.38 0.03 248.62);
  --sone-gray-800: oklch(0.31 0.0226 248.56);
  --sone-gray-900: oklch(0.23 0.0171 248.59);

  --sone-cta1: oklch(0.26 0.0343 264.71);
  --sone-cta1-hover: oklch(0.37 0.0239 248.47);
  --sone-cta1-pressed: oklch(0.37 0.0239 248.47);
  --sone-cta1-disabled: oklch(0.89 0.014 247.98);
  --sone-cta1-secondary-hover: oklch(0.98 0.0029 264.54);
  --sone-cta1-secondary-pressed: oklch(0.98 0.0029 264.54);

  --sone-cta2: oklch(0.75 0.1663 62.59);
  --sone-cta2-hover: oklch(0.81 0.1458 65.87);
  --sone-cta2-pressed: oklch(0.81 0.1458 65.87);
  --sone-cta2-disabled: oklch(0.88 0.0888 68.99);
  --sone-cta2-secondary-hover: oklch(0.94 0.0385 72.36);
  --sone-cta2-secondary-pressed: oklch(0.94 0.0385 72.36);

  --sone-destructive: oklch(0.67 0.2106 24.78);
  --sone-destructive-hover: oklch(0.57 0.2068 24.36);
  --sone-destructive-pressed: oklch(0.54 0.2007 24.57);
  --sone-destructive-disabled: oklch(0.77 0.1034 17.46);
  --sone-destructive-secondary-hover: oklch(0.98 0.0075 17.28);
  --sone-destructive-secondary-pressed: oklch(0.94 0.023 17.57);
}

/* Dark 테마 */
[data-theme='switchui-dark'] {
  --sone-background: oklch(0.23 0.0171 248.59);
  --sone-consistent-white: oklch(1 0 0);
  --sone-focus-ring: oklch(0.75 0.1663 62.59);

  --sone-gray-0: oklch(0 0 0);
  --sone-gray-100: oklch(0.31 0.0226 248.56);
  --sone-gray-200: oklch(0.38 0.03 248.62);
  --sone-gray-300: oklch(0.54 0.0244 252.64);
  --sone-gray-400: oklch(0.59 0.0219 252.98);
  --sone-gray-500: oklch(0.64 0.0164 251.23);
  --sone-gray-600: oklch(0.85 0.0071 247.91);
  --sone-gray-700: oklch(0.91 0.006 239.83);
  --sone-gray-800: oklch(0.96 0.0025 228.78);
  --sone-gray-900: oklch(0.98 0.0017 247.84);

  --sone-cta1: oklch(0.75 0.1663 62.59);
  --sone-cta1-hover: oklch(0.81 0.1458 65.87);
  --sone-cta1-pressed: oklch(0.81 0.1458 65.87);
  --sone-cta1-disabled: oklch(0.38 0.0197 73.33);
  --sone-cta1-secondary-hover: oklch(0.34 0.0366 74.53);
  --sone-cta1-secondary-pressed: oklch(0.34 0.0366 74.53);

  --sone-cta2: oklch(0.75 0.1663 62.59);
  --sone-cta2-hover: oklch(0.81 0.1458 65.87);
  --sone-cta2-pressed: oklch(0.81 0.1458 65.87);
  --sone-cta2-disabled: oklch(0.38 0.0197 73.33);
  --sone-cta2-secondary-hover: oklch(0.34 0.0366 74.53);
  --sone-cta2-secondary-pressed: oklch(0.34 0.0366 74.53);

  --sone-destructive: oklch(0.61 0.2158 24.98);
  --sone-destructive-hover: oklch(0.57 0.2068 24.36);
  --sone-destructive-pressed: oklch(0.54 0.2007 24.57);
  --sone-destructive-disabled: oklch(0.42 0.1223 21.66);
  --sone-destructive-secondary-hover: oklch(0.25 0.0071 345.87);
  --sone-destructive-secondary-pressed: oklch(0.29 0.0828 17.55);
}

@theme {
  --color-background: var(--sone-background);
  --color-consistent-white: var(--sone-consistent-white);
  --color-focus-ring: var(--sone-focus-ring);

  --color-base-0: var(--sone-gray-0);
  --color-base-100: var(--sone-gray-100);
  --color-base-200: var(--sone-gray-200);
  --color-base-300: var(--sone-gray-300);
  --color-base-400: var(--sone-gray-400);
  --color-base-500: var(--sone-gray-500);
  --color-base-600: var(--sone-gray-600);
  --color-base-700: var(--sone-gray-700);
  --color-base-800: var(--sone-gray-800);
  --color-base-900: var(--sone-gray-900);

  --color-base-content: var(--sone-cta1);

  --color-cta1: var(--sone-cta1);
  --color-cta1-hover: var(--sone-cta1-hover);
  --color-cta1-pressed: var(--sone-cta1-pressed);
  --color-cta1-disabled: var(--sone-cta1-disabled);
  --color-cta1-secondary-hover: var(--sone-cta1-secondary-hover);
  --color-cta1-secondary-pressed: var(--sone-cta1-secondary-pressed);
  --color-cta1-content: var(--sone-consistent-white);

  --color-cta2: var(--sone-cta2);
  --color-cta2-hover: var(--sone-cta2-hover);
  --color-cta2-pressed: var(--sone-cta2-pressed);
  --color-cta2-disabled: var(--sone-cta2-disabled);
  --color-cta2-secondary-hover: var(--sone-cta2-secondary-hover);
  --color-cta2-secondary-pressed: var(--sone-cta2-secondary-pressed);
  --color-cta2-content: var(--sone-consistent-white);

  --color-destructive: var(--sone-destructive);
  --color-destructive-hover: var(--sone-destructive-hover);
  --color-destructive-pressed: var(--sone-destructive-pressed);
  --color-destructive-disabled: var(--sone-destructive-disabled);
  --color-destructive-secondary-hover: var(--sone-destructive-secondary-hover);
  --color-destructive-secondary-pressed: var(
    --sone-destructive-secondary-pressed
  );
  --color-destructive-content: var(--sone-consistent-white);

  --color-index-good: var(--sone-index-good);
  --color-index-fair: var(--sone-index-fair);
  --color-index-poor: var(--sone-index-poor);

  --spacing-sone-4xs: var(--sone-spacing-4xs);
  --spacing-sone-3xs: var(--sone-spacing-3xs);
  --spacing-sone-2xs: var(--sone-spacing-2xs);
  --spacing-sone-xs: var(--sone-spacing-xs);
  --spacing-sone-sm: var(--sone-spacing-sm);
  --spacing-sone-ms: var(--sone-spacing-ms);
  --spacing-sone-md: var(--sone-spacing-md);
  --spacing-sone-ml: var(--sone-spacing-ml);
  --spacing-sone-lg: var(--sone-spacing-lg);
  --spacing-sone-xl: var(--sone-spacing-xl);
  --spacing-sone-2xl: var(--sone-spacing-2xl);
  --spacing-sone-3xl: var(--sone-spacing-3xl);
  --spacing-sone-4xl: var(--sone-spacing-4xl);
  --spacing-page-without-nav: var(--sone-spacing-page-without-nav);
  --spacing-page-with-nav: var(--sone-spacing-page-with-nav);

  --radius-input-xs: var(--sone-input-radius-xs);
  --radius-input-sm: var(--sone-input-radius-sm);
  --radius-input-md: var(--sone-input-radius-md);

  --radius-card-sm: var(--sone-card-radius-sm);
  --radius-card-md: var(--sone-card-radius-md);
  --radius-card-lg: var(--sone-card-radius-lg);

  --text-button-2xs: var(--sone-typography-button-2xs);
  --text-button-xs: var(--sone-typography-button-xs);
  --text-button-sm: var(--sone-typography-button-sm);
  --text-button-md: var(--sone-typography-button-md);
}

:focus {
  @apply outline-none;
}

:focus-visible {
  @apply outline-focus-ring outline-[1.5px] outline-offset-[1.5px] outline-solid;
}

/* @plugin 'daisyui/theme' {
  name: 'switchui-light';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: var(--sone-gray-100);
  --color-base-200: var(--sone-gray-200);
  --color-base-300: var(--sone-gray-300);
  --color-base-content: var(--sone-cta1);

  --color-primary: var(--sone-cta1);
  --color-primary-content: var(--sone-consistent-white);

  --color-secondary: var(--sone-cta2);
  --color-secondary-content: var(--sone-consistent-white);

  --color-success: var(--sone-index-good);
  --color-success-content: var(--sone-consistent-white);

  --color-error: var(--sone-index-poor);
  --color-error-content: var(--sone-consistent-white);
}

@plugin 'daisyui/theme' {
  name: 'switchui-dark';
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: var(--sone-gray-100);
  --color-base-200: var(--sone-gray-200);
  --color-base-300: var(--sone-gray-300);
  --color-base-content: var(--sone-gray-900);

  --color-primary: var(--sone-cta1);
  --color-primary-content: var(--sone-consistent-white);

  --color-secondary: var(--sone-cta2);
  --color-secondary-content: var(--sone-consistent-white);

  --color-success: var(--sone-index-good);
  --color-success-content: var(--sone-consistent-white);
} */
